header{
    background: url("../images/h4.jpg");
    background-size: cover;
    background-position: center;
    min-height: 800px;
}

.col > div{
    background: ffccbc;
    
}

.brand-logo {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.flow-text {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

ul.a {
    list-style-type: circle;
}
ul.b {
    list-style-type: square;
}
ol.c {
    list-style-type: upper-roman;
}
  
ol.d {
    list-style-type: lower-alpha;
}

li{
    font-weight: bold;
    text-size: 20px;
}
